img {
    height: 120px;
    width: 120px;
    max-width: 120px;
    max-height: 120px;
}

.card-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}
th td>button {
    font-size: .80rem;
}
td {
    font-size: .90rem;
}

.btn-warning {
    color: white;
}