<div class="col-md-1 pl-0 mb-4">
    <button class="btn btn-outline pl-0"><i class="fas fa-chevron-left"></i></button>
</div>
<h1 class="text-center">Editar Cliente</h1>

<form>
    <!-- DADOS PESSOAIS -->
    <fieldset id="dadosPessoais">
        <legend> Dados Pessoais</legend>

        <!-- 1 -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cNome">Nome:</label>
                <input type="text" class="form-control" name="tNome" id="cNome" size="20" maxlength="50" />
            </div>
            <div class="form-group col-md-6">
                <label for="cSobrenome">Sobrenome:</label>
                <input type="text" class="form-control" name="tSobrenome" id="cSobrenome" size="20" maxlength="50" />
            </div>
        </div>

        <!-- 2 -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="cRG">RG:</label>
                <input type="number" class="form-control" name="tRG" id="cRG" size="20" maxlength="7" />
            </div>
            <div class="form-group col-md-3">
                <label for="cOrgExp">Org.Expeditor:</label>
                <input type="text" class="form-control" name="tOrgExp" id="cOrgExp" size="20" maxlength="5" />
            </div>
            <div class="form-group col-md-6">
                <label for="cCPF">CPF/CNPJ:</label>
                <input type="number" class="form-control" name="tCPF" id="cCPF" size="20" maxlength="11" />
            </div>
        </div>

        <!-- 3 -->
        <div class="form-row">
            <div class="form-group col-md-6">

                <label for="cTelefone">Telefone:</label>
                <input type="number" class="form-control" name="tTelefone" id="cTelefone" size="20" maxlength="12" />

            </div>
            <div class="form-group col-md-6">
                <label for="cProfissao">Profissão:</label>
                <input type="text" class="form-control" name="tProfissao" id="cProfissao" size="20" maxlength="50" />

            </div>
        </div>

        <!-- 4 -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <fieldset id="tipoCliente">
                    <legend class="tipoCliente">Tipo Cliente</legend>
                    <div class="form-check form-check-inline mr-5">
                        <input class="form-check-input" type="radio" name="tTipoCliente" id="cLocador" />
                        <label class="form-check-label" for="cLocador"> Locador </label>
                    </div>
                    <div class="form-check form-check-inline ml-5">
                        <input class="form-check-input" type="radio" name="tTipoCliente" id="cLocatario" />
                        <label class="form-check-label" for="cLocatario">Locatario</label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group col-md-6">
                <label for="cMail">Email:</label>
                <input type="email" class="form-control" name="tMail" id="cMail" size="20" maxlength="50" />
            </div>
        </div>
    </fieldset>

    <!-- ENDEREÇO -->
    <fieldset id="endereco">
        <legend> Endereço</legend>

        <!-- 5 -->
        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="cRua"> Rua:</label>
                <input type="text" class="form-control" name="tRua" id="cRua" size="20" maxlength="50" />
            </div>
            <div class="form-group col-md-4">
                <label for="cNum">Número:</label>
                <input type="number" class="form-control" name="tNum" id="cNum" min="0" max="9999" />
            </div>
        </div>

        <!-- 6 -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="cBairro">Bairro:</label>
                <input type="text" class="form-control" name="tBairro" id="cBairro" size="20" maxlength="50" />
            </div>
            <div class="form-group col-md-4">
                <label for="cCid">Cidade:</label>
                <input type="text" class="form-control" name="tCid" id="cCid" maxlength="40" size="20" />
            </div>
            <div class="form-group col-md-4">
                <label for="cEst">Estado:</label>
                <select class="form-control" name="tEst" id="cEst">
                    <option>Paraíba</option>
                    <option>Pernambuco</option>
                    <option>Rio Grande do Norte</option>
                    <option>Ceará</option>
                </select>
            </div>
        </div>
    </fieldset>
    <div class="mx-auto text-center mt-5" style="max-width: 20rem;">
        <button class="btn btn-secondary btn-lg btn-block rounded-pill" type="button">Salvar</button>
    </div>

</form>