.card-img-top {
    max-height: 80px;
    max-width: 80px;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../../../assets/images/background_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

    top: 0;
    left: 0;
    
}