<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm pb-0">
  <a class="navbar-brand col-1" href="#">
    <img src="../../../assets/images/home.png" width="30" height="30" alt="">
  </a>

  <!-- sandwich button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a id="teste" routerLink="/login" routerLinkActive="active" class="nav-link">Home<span
            class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a routerLink="/clientes" routerLinkActive="active" class="nav-link">Clientes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Imoveis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contato</a>
      </li>
    </ul>

    <!-- espaçamento -->
    <div class="navbar-nav col-1">
    </div>
  </div>
</nav>